[submodule "apps/3rdparty/json"]
	path = apps/3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "apps/3rdparty/tinydtls"]
	path = apps/3rdparty/tinydtls
	url = https://github.com/legatoproject/tinydtls.git
[submodule "modules/rpi3B"]
	path = modules/rpi3B
	url = https://github.com/naushada/rpi3B.git
	branch = main
